<h1>New Question</h1>

<%# render 'form' will look for a partial named '_form.html.erb' within the same folder as this file (new.html.erb). Partials have access to the same things as this file such as instance variables and helper methods. %>
<%= render "form" %>
